<ul class="list-unstyled">

  <% comments.each do |comment| %>
    <% if comment.errors.any? %>
      <% comment.errors.full_messages.each do |msg| %>
        <script>
          toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": false,
            "timeOut": "2000",
          }
          toastr['error']('<%= msg %>')
        </script>
      <% end %>
    <% end %>

    <% if comment.id.present? %>
      <li class="media p-0 m-0">
        <%= icon('fas', 'user-graduate', class: 'm-3 img-thumbnail') %>
        <div class="media-body">
          <div class="clearfix">
            <span class="text-muted float-right">
              <small class="text-muted"><%= time_present(comment.created_at) %></small>
              <div>
                <%= link_to t('views.button.delete'), book_article_comment_path(article_id: article.id, id: comment.id), { method: :delete, class: 'text-muted small mr-1' }%>
              </div>
            </span>
            <h6 class="text-success float-left"><%= comment.user.name %></h6>
          </div>
          <p class="text-left m-0">
            <%= comment.content %>
          </p>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
