<div class="container bg-white">
  <div class="d-flex">

    <!-- book infomation -->
    <div class="col-lg-5">
      <div class="media p-2" style="margin:0 auto;">
        <%= link_to image_tag(@book.image.to_s, :size => '80x80'), book_path(@book), { class: 'mr-3' } %>
        <div class="media-body">
          <h4 class="media-heading mb-0">
            Book Title: <%= @book.title %>
          </h4>
          <div>
            Publish: <%= time_present(@book.publish_on) %>
          </div>
        </div>
      </div>
    </div>

    <!-- detail -->
    <div class="col-lg-7">
      <div>
        author: <%= @article.user.safe_name %>
      </div>
      <div>
        Last Updated on: <%= time_present(@article.updated_at) %>
      </div>
      <div>
        <%= link_to "edit", edit_book_article_path(@article), { class: "btn btn-sm btn-primary col-mb-1" } %>
        <%= link_to "delete", book_article_path(@article), { method: :delete, class: "btn btn-sm btn-danger col-mb-1" } %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container bg-white">
  <div class="d-flex no-gutters">
    <!-- article title -->
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h4>
        <%= @article.title %>
      </h4>
    </div>
    <div class="col-md-2 float-right small">
      99 liked <%= render 'favs/fav', article: @article %>
    </div>
  </div>
  <hr>

  <!-- article body -->
  <div class="text-container">
    <%= markdown(@article.body).html_safe %>
  </div>
</div>

<hr>

<div class="container">
  <div class="d-flex justify-content-center">
    <!-- comment area -->
    <div class="card comment-card card-info">
      <div class="card-header">
        <h4>comments</h4>
      </div>
      <div class="card-body">
        <%= render partial: 'comments/form', locals: { book: @book, comment: @comment, article: @article } %>
        <hr>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'back to book list page', books_path %>
