<div class="container bg-white">
  <div class="d-flex">

    <!-- book infomation -->
    <div class="col-lg-5">
      <div class="media p-2" style="margin:0 auto;">
        <%= link_to image_tag(@book.image.to_s, :size => '80x80'), book_path(@book), { class: 'mr-3' } %>
        <div class="media-body">
          <h4 class="media-heading mb-0">
            <%= @book.title %>
          </h4>
          <div class="small mt-1 date-item">
            <%= t('views.book.publish_on') %>: <%= time_present(@book.publish_on) %>
          </div>
        </div>
      </div>
    </div>

    <!-- detail -->
    <div class="col-lg-7">
      <div class="mb-2">
        <%= @article.user.name %>
        <span class="small pl-3 date-item">
          <%= t('views.article.last_update') %>:
          <%= time_present(@article.updated_at) %>
        </span>
      </div>
      <div>
        <%= link_to t('views.button.edit'), edit_book_article_path(@article), { class: "btn btn-sm btn-primary col-mb-1" } %>
        <%= link_to t('views.button.delete'), book_article_path(@article), { method: :delete, class: "btn btn-sm btn-danger col-mb-1" } %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container bg-white">
  <div class="d-flex no-gutters">
    <!-- article title -->
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h3>
        <%= @article.title %>
      </h3>
    </div>
    <div class="col-md-2 float-right small">
      <%= render 'favs/fav', article: @article %>
    </div>
  </div>
  <hr>

  <!-- article body -->
  <div class="text-container">
    <%= markdown(@article.body) %>
  </div>
</div>

<hr>

<div class="container">
  <div class="d-flex justify-content-center">
    <!-- comment area -->
    <div class="card comment-card card-info">
      <div class="card-header">
        <h4>comments</h4>
      </div>
      <div class="card-body">
        <%= render partial: 'comments/form', locals: { book: @book, comment: @comment, article: @article } %>
        <hr>
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
        </div>
      </div>
    </div>
  </div>
</div>
