<div class="container profile-body">

  <div class="d-flex flex-row">

    <!-- user data -->
    <div class="col-md-5">
      <div class="media">
        <a class="float-left" href="#">
          <img class="media-object dp rounded-circle" src="<%= asset_url("girl.png") %>" style="width: 100px;height:100px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <strong><%= @user.name %></strong>
          </h4>
          <div class="small">
            <% unless @user.provider.blank? %>
              joined via <%= @user.provider %>
            <% else %>
              joined via email
              <div>
                email: <%= @user.email %>
              </div>
            <% end %>
          </div>
          <div>
            start at: <%= time_present(@user.created_at) %>
          </div>
          <hr style="m-8 mb-8">
          <div>
            <% unless current_user.provider? %>
              <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <% else %>
              <h3>Cancel my account</h3>
              <p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
            <% end %>
          </div>
          <div>
            <%= link_to "back to book list", books_path %>
          </div>
        </div>
      </div>
    </div>

    <!-- favorite items -->
    <div class="col-md-7">

      <!-- title -->
      <h6>お気に入り</h6>

      <!-- item tab -->
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <%= link_to 'article', '#nav-article', { class: 'nav-item nav-link active', id: 'nav-article-tab', role: 'tab', data: { toggle: "tab" }, aria: { controles: 'nav-article', selected: 'true' } } %>
        <%= link_to 'book list', '#nav-book-list', { class: 'nav-item nav-link', id: 'nav-book-group-tab', role: 'tab', data: { toggle: "tab" }, aria: { controles: 'nav-book-group', selected: 'false' } } %>
      </div>

      <!-- item content -->
      <div class="tab-content" id="tabContent">

        <!-- article content -->
        <div  class="tab-pane fade show active" id="nav-article" role="tabpannel" aria-labelledby="nav-article-tab">
          <table class="table" cellspacing="0">
            <thead>
              <tr>
                <th>Writer</th>
                <th>Title</th>
                <th>Up</th>
              </tr>
            </thead>
            <tbody>
              <% @article_favs.each do |article| %>
                <tr class="small">
                  <td>
                    <%= article.user.name %>
                  </td>
                  <td>
                    <%= link_to "#{article.title}", book_article_path(book_id: article.book.id, id: article.id) %>
                  </td>
                  <td>
                    <%= time_present(article.created_at) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <!-- book list content -->
        <div class="tab-pane fade" id="nav-book-list" role="tabpannel" aria-labelledby="nav-book-list-tab">
          <table class="table" cellspacing="0">
            <thead>
              <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Summary</th>
              </tr>
            </thead>
            <tbody>
              <% @favs.each do |recommend| %>
                <tr class="small">
                  <td>
                    <%= link_to "#{recommend.user.name}", recommend_path(recommend) %>
                  </td>
                  <td>
                    <%= truncate(recommend.summary, length:10) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
