<div class="container profile-body">

  <!-- title -->
  <h1>User profile</h1>

  <div class="row">

    <div class="col-md-5">
      <div class="media">
        <a class="float-left" href="#">
          <img class="media-object dp rounded-circle" src="<%= asset_url("girl.png") %>" style="width: 100px;height:100px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            name: <%= @user.name %>
          </h4>
          <% unless @user.provider.blank? %>
            joined via <%= @user.provider %>
          <% else %>
            joined via email
            <div>
              email: <%= @user.email %>
            </div>
          <% end %>

          <div>
            start at: <%= time_present(@user.created_at) %>
          </div>
          <hr style="m-8 mb-8">
          <div>
            <% unless current_user.provider? %>
              <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <% else %>
              <h3>Cancel my account</h3>

              <p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
            <% end %>
          </div>
          <div>
            <%= link_to "back to book list", books_path %>
          </div>
        </div>
      </div>
    </div>

    <!-- faved group article element-->
    <div class="col-md-7">

      <div class="border border-danger py-2">
        <p>favorite group</p>
        <div class="card-deck">
          <% @favs.each do |fav| %>
            <div class="card" style="width: 200;">
              <%= link_to fav.name, recommend_path(fav.id) %>
              name: <%= fav.name %><br />
              summary: <%= fav.summary.truncate(20) %><br />
              fav: Number of fav
            </div>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
