<%= form_with(model: @recommend, local: true, url: recommend_choose_new_or_edit) do |f| %>
  <div class='form_group'>
    <%= f.label :name %>
    <%= f.text_field :name, { class: 'form-control', placeholder: 'Group Name' } %>
  </div>

  <div class='form_group'>
    <%= f.label :summary %>
    <%= f.text_field :summary, { class: 'form-control', placeholder: 'Summary' } %>
  </div>

<% if false %>
  <div class='form_group'>
  <%= f.fields_for :groups do |g| %>
    <div class="form-row">
      <div class='form-group col-sm-2'>
        <%= g.label :description %>
        <%= g.text_field :description, { class: 'form-control' } %>
      </div>
        <%= g.hidden_field :id %>
      <%= g.fields_for :books do |b| %>
        <div class='form-group col-sm-2'>
          <%= b.label :title %>
          <%= b.text_field :title, { class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= b.label :publish_on %>
          <%= b.date_field :publish_on, { class: 'form-control col-mb-6' } %>
        </div>
        <div class='form-group col-sm-1'>
          <%= b.label :sheets %>
          <%= b.number_field :sheets, { class: 'form-control' } %>
        </div>
        <div class='form-group col-sm-1'>
          <%= b.label :price %>
          <%= b.number_field :price, { class: 'form-control' } %>
        </div>
        <div class='form-group'>
          <%= b.label :image %><br />
          <%= b.file_field :image, { class: 'form-controle-file' } %>
        </div>
        <%= b.hidden_field :id %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
      <%= f.fields_for :groups do |b| %>
        <div class='form-group col-sm-2'>
          <%= b.label :description %>
          <%= b.text_field :description , { class: 'form-control' } %>
        </div>
      <% end %>

      <%= f.fields_for :books do |b| %>
        <div class='form-group col-sm-2'>
          <%= b.label :title %>
          <%= b.text_field :title, { class: 'form-control' } %>
        </div>
        <%= b.hidden_field :id %>
      <% end %>

  <%= f.submit %>
<% end %>
