<div class="container rec-container">

  <!-- page title -->
  <h3>Book group</h3>
  <%= link_to 'make new book group?', new_recommend_path, { class: 'btn btn-sm btn-primary' } %>

  <!-- main container -->
  <div class="d-flex flex-row">

    <!-- select menue -->
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <%= link_to 'my groups', '#my-group', { class: 'list-group-item list-group-item-action active', data: { toggle: 'list' }, role: "tab" } %>
        <%= link_to 'other user\'s group', '#other-group', { class: 'list-group-item list-group-item-action', data: { toggle: 'list' }, role: "tab" } %>
      </div>
    </div>

    <!-- contents -->
    <div class="col-8">
      <div class="tab-content">
        <div class="tab-pane active" id="my-group" role="tabpannel">
          <% @recommend.each do |r| %>
            <%= link_to r.name, recommend_path(r.id) %><br />
            summary: <%= r.summary.truncate(20) %><br />
            make: <%= time_present(r.created_at) %><br />
            fav: Number of fav
            <hr>
          <% end %>
        </div>
        <div class="tab-pane" id="other-group" role="tabpannel">
          <% @other_recommends.each do |r| %>
            <%= link_to r.name, recommend_path(r.id) %><br />
            <% if r.user.name.present? %>
              author: <%= r.user.name %><br />
            <% end %>
            summary: <%= r.summary.truncate(20) %><br />
            make: <%= time_present(r.created_at) %><br />
            fav: Number of fav
            <hr>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <!-- back link -->
  <%= link_to 'back to book list page', books_path %>
</div>
