<!-- page title -->
<h4 class="recommend-heading">
  <div class="container">
    <%= t('views.title.book_list') %>
    <%= link_to t('views.button.new'), new_recommend_path, { class: 'btn btn-sm btn-primary btn-new' } %>
  </div>
</h4>
<div class="container-fluid recommend-container">
  <div class="container py-2 recommend-back-link">
    <!-- back link -->
    <%= link_to books_path do %>
      <%= icon('fas', 'angle-left') %> back to book list
    <% end %>
  </div>

  <!-- main container -->
  <div class="container recommend-table d-flex flex-row">

    <!-- select menue -->
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <%= link_to t('views.title.my_groups'), '#my-group', { class: 'list-group-item list-group-item-action active', data: { toggle: 'list' }, role: "tab" } %>
        <%= link_to t('views.title.other_groups'), '#other-group', { class: 'list-group-item list-group-item-action', data: { toggle: 'list' }, role: "tab" } %>
      </div>
    </div>

    <!-- contents -->
    <div class="col-8">
      <div class="tab-content">

        <!-- my-group content -->
        <div class="tab-pane active" id="my-group" role="tabpannel">
          <% @recommend.each do |r| %>
            <div class="d-flex flex-row">

              <div class="col-md-6">
                <h3>
                  <%= link_to r.name, recommend_path(r.id) %>
                  <small>
                    <%= "#{fav_count(r)} faved"%>
                    <%= icon('fas', 'heart') %>
                  </small>
                </h3>
                <p class="small">
                  <%= r.summary.truncate(120) %><br />
                  <%= t('views.recommend.created_at') %>: <%= time_present(r.created_at) %>
                </p>
              </div>

              <div class="col-md-6">
                <% if r.books.exists? %>
                  <%= image_tag(r.books.first.image.to_s, :size => '90x90', class: 'thumbnail') %>
                  <%= image_tag(r.books.second.image.to_s, :size => '90x90', class: 'thumbnail') %>
                  <%= image_tag(r.books.third.image.to_s, :size => '90x90', class: 'thumbnail') %>
                <% end %>
              </div>

            </div>
            <hr>
          <% end %>
        </div>

        <!-- other-group content -->
        <div class="tab-pane" id="other-group" role="tabpannel">
          <% @other_recommends.each do |r| %>
            <div class="d-flex flex-row">
              <div class="col-md-6">
                <h3>
                  <%= link_to r.name, recommend_path(r.id) %>
                  <small>
                    <%= "#{fav_count(r)} faved"%>
                    <%= icon('fas', 'heart') %>
                  </small>
                </h3>
                <p class="small mb-0">
                  <%= r.summary.truncate(25) %><br />
                  <%= t('views.recommend.written_by') %>: <%= r.user.safe_name %><br />
                  <%= t('views.recommend.created_at') %>: <%= time_present(r.created_at) %><br />
                </p>
              </div>

              <!-- registed books -->
              <div class="col-md-6">
                <% if r.books.exists? %>
                  <%= image_tag(r.books.first.image.to_s, :size => '90x90', class: 'thumbnail') %>
                  <%= image_tag(r.books.second.image.to_s, :size => '90x90', class: 'thumbnail') %>
                  <%= image_tag(r.books.third.image.to_s, :size => '90x90', class: 'thumbnail') %>
                <% end %>
              </div>

            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
