<h1>Book group</h1>

<div class="border border-primary py-2">
  <p>created group</p>
  <%= link_to 'make new book group?', new_recommend_path, { class: 'btn btn-sm btn-primary' } %>
  <div class="card-deck">
    <% @recommend.each do |r| %>
      <div class="card" style="width: 200;">
        <%= link_to r.name, recommend_path(r.id) %>
        name: <%= r.name %><br />
        summary: <%= r.summary.truncate(20) %><br />
        fav: Number of fav
      </div>
    <% end %>
  </div>
</div>
<br />

<div class="border border-danger py-2">
  <p>favorite group</p>
  <div class="card-deck">
    <% @favs.each do |fav| %>
      <div class="card" style="width: 200;">
        <%= link_to fav.name, recommend_path(fav.id) %>
        name: <%= fav.name %><br />
        summary: <%= fav.summary.truncate(20) %><br />
        fav: Number of fav
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'back to book list page', books_path %>
