<div class="container recommend_detail_container">

  <div class="media group-media my-0">
    <%= image_tag('group.png', size: '60x60') %>
    <div class="media-body">
      <!-- page title -->
      <h4 class="my-2">
        <strong class="mr-5"><%= @recommend.name %></strong>
        <small>
          <%= link_to t('views.button.edit'), edit_recommend_path(@recommend.id), { class: 'btn btn-sm btn-info' } %>
          <%= link_to t('views.button.delete'), recommend_path(@recommend.id), { method: :delete, class: 'btn btn-sm btn-danger' } %>
          <%= render 'recommend_favs/fav', recommend: @recommend %>
          <%= "#{fav_count(@recommend)} faved"%>
        </small>
      </h4>

      <!-- book group info -->
      <div>
        <%= icon('fas', 'user-edit') %>
        <strong class="mr-1">
          <%= t('views.user.author') %>
        </strong>
        <%= @user.name %>
      </div>
      <p class="mb-0">
        <%= icon('fas', 'scroll') %>
        <strong class="mr-1">
          <%= t('views.recommend.summary') %>
        </strong>
        <%= @recommend.summary %>
      </p>
    </div>
  </div>

  <!-- contents flex layout -->
  <div class="card-deck mb-3">

    <% @groups.each do |g| %>
    <!-- each book info -->
      <div class="card">
        <%= link_to image_tag( g.book.image.to_s, :size => '90x90', class: 'thumbnail p-1'), book_path(g.book.id) %>

        <div class="card-body small">
          <!-- book detail info-->
          <strong class="card-title strong">
            <%= g.book.title %>
          </strong>

          <div class="card-text">
            <%= t('views.book.publish_on') %>: <%= g.book.publish_on.nil? ? t('views.message.no_data') : "#{time_present(g.book.publish_on)}" %>
          </div>
          
          <div class="card-text">
            <%= t('views.book.sheets') %>: <%= g.book.sheets.nil? ? t('views.message.no_data') : "#{g.book.sheets} page" %>
          </div>

          <div class="card-text">
            <%= t('views.book.price') %>: <%= g.book.price.nil? ? t('views.message.no_data') : "#{g.book.price} yen" %>
          </div>

          <div class="card-text">
            <%= t('views.book.tags') %>:
            <% if g.book.tag_list.present? %>
              <%= render 'books/tag_list', tag_list: g.book.tag_list %>
            <% else %>
              <%= t('views.message.no_data') %>
            <% end %>
          </div>

        </div>

        <div class="card-footer">
          <!-- regist book button -->
          <% if is_regist?(g.book) %>
            <%= link_to  t('views.button.unregist_book'), regist_book_path(g.book.id), { method: :delete, class: "btn btn-sm btn-danger" } %>
          <% else %>
            <%= link_to t('views.button.regist_book'), regist_books_path(book_id: g.book.id), { method: :post, class: "btn btn-sm btn-info" } %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

</div>

<!-- back book list -->
<%= link_to 'back to book group', recommends_path %>
