<%= form_with(model:@book, local:true, url: book_choose_new_or_edit) do |f| %>

  <table class="form-table">
    <tbody>

      <tr class="form-group">
        <th>
          <%= f.label :title, t('views.book.title') %>
        </th>
        <td style="min-width:500px;">
          <%= f.text_field :title, {class: 'form-control', placeholder: '例：ヒト夜の永い夢はたった6枚の冴えたトンカツ'} %>
        </td>
      </tr>

      <tr class="form-group">
        <th>
          <%= f.label :publish_on, t('views.book.publish_on') %>
        </th>
        <td class="d-flex flex-row">
          <%= f.date_select :publish_on, {}, { class: 'form-control' } %>
        </td>
      </tr>

      <tr class="form-group clearfix">
        <th>
          <%= f.label :sheets, t('views.book.sheets') %>
        </th>
        <td class="float-left">
          <%= f.number_field :sheets, min: 0, max: 10000000, step: 1 %> pages
        </td>
      </tr>

      <tr class="form-group clearfix">
        <th>
          <%= f.label :price, t('views.book.price') %>
        </th>
        <td class="float-left">
          <%= f.number_field :price, min: 1, max: 10000000, step: 1 %> yen
        </td>
      </tr>

      <tr class="form-group clearfix">
        <th>
          <%= f.label :image, t('views.book.image') %>
        </th>
        <td class="float-left">
          <%= f.file_field :image %>
        </td>
      </tr>

      <tr class="form-group">
        <th>
          <%= f.label :tag_list, t('views.book.tags') %>
        </th>
        <td>
          <%= f.text_field :tag_list, { value: @book.tag_list.join(','), class: "form-control", placeholder: t('views.book.tags_explain') } %>
        </td>
      </tr>

    </tbody>
  </table>

  <p class="book-submit">
    <%= f.submit( class: 'btn btn-info' )%>
  </p>

<% end %>

<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |msg| %>
    <script>
      toastr.options = {
        "closeButton": true,
        "positionClass": "toast-bottom-left",
        "preventDuplicates": false,
        "timeOut": "2000",
      }
      toastr['error']('<%= msg %>')
    </script>
  <% end %>
<% end %>
