<%= form_with(model:@book, local:true, url: book_choose_new_or_edit) do |f| %>

  <table class="form-table">
    <tbody>

      <tr class="form-group">
        <th>
          <%= f.label :title, "タイトル" %>
        </th>
        <td style="min-width:500px;">
          <%= f.text_field :title, {class: 'form-control', placeholder: '例：ヒト夜の永い夢はたった6枚の冴えたトンカツ'} %>
        </td>
      </tr>

      <tr class="form-group">
        <th>
          <%= f.label :publish_on, "Publish date"%>
        </th>
        <td class="d-flex flex-row">
          <%= f.date_select :publish_on, {}, {class: 'form-control'} %>
        </td>
      </tr>

      <tr class="form-group clearfix">
        <th>
          <%= f.label :sheets, "Number of pages of book"%>
        </th>
        <td class="float-left">
          <%= f.number_field :sheets, min: 0, max: 10000000, step: 1 %> pages
        </td>
      </tr>

      <tr class="form-group clearfix">
        <th>
          <%= f.label :price, "Price"%>
        </th>
        <td class="float-left">
          <%= f.number_field :price, min: 1, max: 10000000, step: 1 %> yen
        </td>
      </tr>

      <tr class="form-group clearfix">
        <th>
          <%= f.label :image, "Picture of book"%>
        </th>
        <td class="float-left">
          <%= f.file_field :image %>
        </td>
      </tr>

      <tr class="form-group">
        <th>
          <%= f.label :tag_list %>
        </th>
        <td>
          <%= f.text_field :tag_list, { value: @book.tag_list.join(','), class: "form-control" } %>
        </td>
      </tr>

    </tbody>
  </table>

  <p class="book-submit">
    <%= f.submit( class: 'btn btn-info' )%>
  </p>

<% end %>
