<div class="page title">
  <h4>
    your book list
  </h4>
  <%= link_to "add new book", new_book_path, { class: 'btn btn-primary' } %>
</div>

<% if @books.exists? %>

  <div class="card-columns"> 

    <% @books.each do |book| %>

      <div class="card bg-white" style="max-width: 300px;"> 

        <div class="row no-gutters ">

          <div class="col-md-4">
            <%= link_to image_tag(book.image.to_s, :size => '100x80'), book_path(book.id), { class: 'card-img' } %>
            <span class="badge badge-pill badge-success small">Article</span> <%= book.articles.count %>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <% if book.articles.present? %>
                <span class="badge badge-pill badge-warning">up</span>
                <span class="small"><%= time_present(book.articles.last.updated_at) %></span>
              <% end %>
              <h4 class="card-title"><%= link_to book.title, book_path(book.id), { class: 'text-dark' } %></h4>
              <hr>
              <div class="d-flex flex-column">
                <% unless book.articles.present? %>
                  <div class="mb-4">
                    no article here!
                  </div>
                <% end %>
                <% book_articles(book.id).each do |ar| %>
                  <%= link_to " #{ar.title}", book_article_path(id: ar.id, book_id: book.id), { class:"fa fa-book p-2 card-text small" } %>
                <% end %>
                <div class="justify-content-end">
                  <%= link_to "new", new_book_article_path(book.id), { class: "btn btn-sm btn-primary col-mb-1 fas fa-pen" } %>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    <% end %> 
  </div>
<% end %>
