<div class="container-fulid book_index_container">
  <div class="page title">
    <%= search_form_for(@q, class: 'mb-2') do |f| %>
      <div class="form-group d-flex flex-row mb-0">
        <div class="col-sm-4"></div>
        <%= f.label :title_or_articles_title_cont, 'Title', { class: 'sr-only' } %>
        <%= f.search_field :title_or_articles_title_cont, { class: 'col-sm-4 form-control mt-3', placeholder: 'Search Your Book Title or Article Title'} %>
        <div class="col-sm-1">
          <%= f.submit(class: 'btn btn-danger mt-3') %>
        </div>
      </div>
    <% end %>
    <h4>
      your book list
    </h4>
    <%= link_to "add new book", new_book_path, { class: 'btn btn-primary' } %>
  </div>

  <% if @books.exists? %>

    <div class="card-columns">

      <% @books.each do |book| %>

        <div class="card book-card bg-white">

          <div class="d-flex flex-row no-gutters ">

            <div class="col-md-4">
              <%= link_to image_tag(book.image.to_s, :size => '100x80'), book_path(book.id), { class: 'card-img' } %>
              <span class="badge badge-pill badge-success small">Article</span> <%= book.articles.count %>
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <% if book.articles.present? %>
                  <span class="badge badge-pill badge-warning">up</span>
                  <span class="small"><%= time_present(book.articles.last.updated_at) %></span>
                <% end %>
                <h4 class="card-title"><%= link_to book.title, book_path(book.id), { class: 'text-dark' } %></h4>
                <hr>
                <div class="d-flex flex-column">
                  <% unless book.articles.present? %>
                    <div class="col-md-12 mb-3">
                        no article here!
                    </div>
                  <% end %>
                  <% book_articles(book.id).each do |ar| %>
                    <%= link_to " #{truncate(ar.title, length: 18)}", book_article_path(id: ar.id, book_id: book.id), { class:"fa fa-book p-2 card-text small" } %>
                  <% end %>
                  <div class="justify-content-end">
                    <%= link_to "new", new_book_article_path(book.id), { class: "btn btn-sm btn-primary col-mb-1 fas fa-pen" } %>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

      <% end %>
    </div>

    <!-- paginate -->
    <div class="d-flex flex-row mb-3">
      <div class="col-5"></div>
      <%= paginate @books %>
    </div>
  <% end %>
</div>
