<h3>
  <%= link_to image_tag('logo.png', :size => '100x90'), books_path %>
  Book index
</h3>

<div class="page title">
  <h4>
    your book list
  </h4>
</div>

<% if @books.exists? %>
  <div class="card-deck" style="width: 50rem">
    <% @books.each do |book| %>
      <div class="card">
        <div class="d-flex">
          <%= link_to image_tag(book.image.to_s, :size => '80x75'), book_path(book.id) %>
          <div class="flex-column">
            <h4 class="card-title col-mb-4"><%= book.title %></h4>
            <div>
              <%= link_to "write", new_book_article_path(book.id), { class: "btn btn-sm btn-primary col-mb-1" } %>
              <%= link_to "unregist", regist_book_path(book.id), { method: :delete, class: "btn btn-sm btn-danger col-mb-2" } %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% book_articles(book.id).each do |ar| %>
            <div class="flex-column">
              <%= link_to "#{ar.title}", book_article_path(id: ar.id, book_id: book.id) %>
            </div>
          <% end %>

          <div class="d-flex justify-content-end">
            <%= link_to 'more articles', books_path, { class: 'btn btn-sm btn-primary' } %>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
<% end %>

<%= link_to "add new book", new_book_path, {class: :book_plus} %>

<div>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></div>
