<div class="container bg-white pt-3">
  <!-- back link -->
  <%= link_to books_path do %>
    <%= icon('fas', 'angle-left') %> back to book list
  <% end %>

  <h3 class="mt-2">
    <%= t('views.title.regist_book') %>
  </h3>

  <p class="small">
    <%= t('views.message.book_input') %>
  </p>

  <%= render 'form' %>

</div>
