<div class="container-fulid book-detial-container clearfix">
  <h4>
    <%= t('views.title.book_detail') %>
  </h4>
  <div class="d-flex">
    <div class="col-md-5 media p-0 m-0">
      <div class="flex-column">
        <%= image_tag( @book.image.to_s, :size => '180x180', class: 'thumbnail')%>
        <div class="ml-3 pt-3">
          <% if is_regist?(@book) %>
            <%= link_to t('views.message.unregist'), regist_book_path(@book.id), { method: :delete, class: "btn btn-sm btn-danger" } %>
          <% else %>
            <%= link_to t('views.message.regist'), regist_books_path(book_id: @book.id), { method: :post, class: "btn btn-sm btn-info" } %>
          <% end %>
        </div>
      </div>
      <div class="media-body book-detail-body">
        <div class="flex-row">
          <h5>
            <strong><%= @book.title %></strong>
            <%= link_to icon('fas', 'pen'), edit_book_path(@book.id), { class: "book-tooltip btn btn-success btn-sm", title:'編集' } %>
            <%= link_to icon('fas', 'trash-alt'), book_path(@book.id), { method: :delete,  class: "book-tooltip btn btn-danger btn-sm", title:'削除' } %>
          </h5>
        </div>
        <div>
          <span class="col-sm-1">
            <%= t('views.book.publish_on') %>:
          </span>
          <span><%= time_present(@book.publish_on) %></span>
        </div>
        <div>
          <span class="col-sm-1">
            <%= t('views.book.sheets') %>:
          </span>
          <span>
            <%= @book.sheets %> page
          </span>
        </div>
        <div>
          <span class="col-sm-1">
            <%= t('views.book.price') %>:
          </span>
          <span>
            <%= @book.price %> yen
          </span>
        </div>
        <div>
          <% if @book.tag_list.present? %>
            <span class="col-sm-1">
              <%= t('views.book.tags') %>:
            </span>
            <span>
              <%= render 'books/tag_list', tag_list: @book.tag_list %>
            </span>
          <% else %>
            <span class="col-sm-1">
              <%= t('views.book.tags') %>:
            </span>
            <span>
              <%= t('views.message.no_tags') %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <!-- related articel tab-->
    <div class="col-md-7">
      <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <%= link_to t('views.article.my_article'), '#nav-my-article', { class: 'nav-item nav-link active', id: 'nav-my-article-tab', role: 'tab', data: { toggle: "tab" }, aria: { controles: 'nav-my-article', selected: 'true' } } %>
        <%= link_to t('views.article.other_article'), '#nav-other-article', { class: 'nav-item nav-link', id: 'nav-other-article-tab', role: 'tab', data: { toggle: "tab" }, aria: { controles: 'nav-other-article', selected: 'false' } } %>
      </div>
      <div class="tab-content" id="tabContent">
        <div  class="tab-pane fade show active" id="nav-my-article" role="tabpannel" aria-labelledby="nav-my-article-tab">
          <table class="table" cellspacing="0">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Up</th>
              </tr>
            </thead>
            <tbody>
              <% @articles.each do |article| %>
                <tr class="small">
                  <td>
                    <%= link_to "#{article.title}", book_article_path(book_id: @book, id: article.id) %>
                  </td>
                  <td>
                    <%= truncate(article.body, length: 20)%>
                  </td>
                  <td>
                    <%= time_present(article.created_at) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="nav-other-article" role="tabpannel" aria-labelledby="nav-other-article-tab">
          <table class="table" cellspacing="0">
            <thead>
              <tr>
                <th>writer</th>
                <th>Title</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @other_articles.each do |article| %>
                <tr class="small">
                  <td>
                    <%= article.user.safe_name %>
                  </td>
                  <td>
                    <%= truncate(article.title, length:10) %>
                  </td>
                  <td>
                    <%= link_to "#{truncate(article.body, length: 20)}", book_article_path(book_id: @book, id: article) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
