<h1>Book detail</h1>

<h4><%= @book.title %></h4>
<%= link_to "edit", edit_book_article_path(@book.id), { class: "btn btn-primary btn-sm" } %>
<%= link_to "delete", book_path(@book.id), { method: :delete,  class: "btn btn-danger btn-sm" } %>
<div class="d-flex bd-hightlight">
  <div class="p-2 bd-hightlight">
    <%= image_tag @book.image.to_s, :size => '180x180' %>
  </div>
  <div class="p-2 bd-hightlight">
    <div>
      Publish: <%= @book.publish_on %>
    </div>
    <div>
      number of pages of book: <%= @book.sheets %>page
    </div>
    <div>
      Price: <%= @book.price %>yen
    </div>
  </div>
</div>
<h2>Article Lists</h2>
no impletemts<br/>

<%= link_to 'back to book list page', books_path %>
