landling page
<br />
<a href="books">my book</a>

<% if user_signed_in? %>
  <h1>こんにちは、<%= current_user.username %>さん</h1>
  <p>ユーザー用ページです。</p>
<% else %>
  <p>ログインしてください</p>
  <%= link_to "login", user_session_path %>
  <%= link_to "sign_up", new_registration_path(:user) %>
<% end %>

<section class="home">
  <p class="title-text">
    積んどるか？
  </p>
</section>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div id="about">
about
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>
<div>
  <%= link_to 'seiken', books_path %>
</div>