
<section class="home">
  <%= render 'notify'%>
  <p class="title-text">
    積んどるか？
  </p>
  <h1>
    Tundocker
  </h1>
  <p class="title-content">
    いつかやろうとしてませんかその積読、私と一緒に積読解消しませんか？<br />
    Learn Faster, make Learning cicle, share our tundoku
  </p>
  <% if user_signed_in? %>
    <%= link_to 'study now', books_path, { class: "btn btn-primary start-button", type: :button } %>
  <% else %>
    <%= link_to "Regist Now", new_registration_path(:user), { class: 'btn btn-primary start-button', type: :button } %>
  <% end %>
</section>

<section class="about" id="about">
  <h2 class="heading">
  ABOUT
  </h2>
  <p class="about-text">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.<br />
    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<br />
    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'<br />
  </p>
</section>

<section class="scene" id="scene">
  <h2 class="heading">
    SCENES
  </h2>
  <div class="d-flex">
    <div class="col-md-6 no-padding">
      <%= image_tag('background_book.jpg', :size => "200x200")%>
    </div>
    <div class="col-md-5 no-padding">
      <h3 class="akan-title">akan</h3>
      <p class="akan-content">
        moundameda aaaaaaaaaaaaaaaaa<br />
        moundameda aaaaaaaaaaaaaaaaa
        moundameda aaaaaaaaaaaaaaaaa
        moundameda aaaaaaaaaaaaaaaaa
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-md-6 no-padding">
      <h3 class="second-akan-title">akan</h3>
      <p class="second-akan-content">
        moundameda aaaaaaaaaaaaaaaaa<br />
        moundameda aaaaaaaaaaaaaaaaa
        moundameda aaaaaaaaaaaaaaaaa
        moundameda aaaaaaaaaaaaaaaaa
      </p>
    </div>
    <div class="col-md-5 no-padding">
      <%= image_tag('background_book.jpg', :size => "200x200")%>
    </div>
  </div>
  <p>
    scene descripton
  </p>
</section>
