<!DOCTYPE html>
<html>
  <head>
    <title>Tundocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--
  <body class="d-flex flex-column" style="min-height: 100vh;width: 100%;">
  -->
  <body>
    <header> 
      <nav class="navbar navbar-expand-lg navbar-light py-2 bg-white no-padding">
        <div class="container">
          <% if user_signed_in? %>
            <%= render partial: "login" %>
          <% else %>
            <%= render partial: "landing" %>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <div class="yield-wrapper">
      <%= yield %>
    </div>

    <footer class="justify-content-end d-flex mt-auto">
      <nav>
        <span class="mx-1">
          <%= link_to icon('fab', 'twitter'), "https://twitter.com/symphogeek", { class: 'nav-item' } %>
        </span>
        <span class="mx-1">
          <%= link_to icon('fab', 'github-alt'), "https://github.com/ponpppher", { class: 'text-muted' } %>
        </span>
      </nav>
      <div>
        <span class="mx-3">
        Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a>
        <span>
        <span class="mx-3">
          Made by ponpher 2019 all rights reserved
        </span>
      </div>
    </footer>
  </body>
</html>
