<!DOCTYPE html>
<html>
  <head>
    <title>Tundocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <% if user_signed_in? %>
            <%= render partial: "login" %>
          <% else %>
            <%= render partial: "landing" %>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="d-flex justify-content-end mt-auto">
      <div>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></div>
      <span>  </span>
      <p>
        Made by ponpher 2019 all rights reserved
      </p>
    </footer>
  </body>
</html>
