<!DOCTYPE html>
<html>
  <head>
    <title>Tundocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <div class="d-flex justify-content-end">
            <% if current_user.name.blank? %>
              <strong><%= link_to "No Name User", user_path(current_user.id) %></strong>
            <% else %>
              <strong><%= link_to current_user.name, user_path(current_user.id) %></strong>
            <% end %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="d-flex justify-content-between">
            <p>Title logo</p>
            <span>All about Tundocker</span>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <div>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
